<footer class="backdrop">
    
    
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-4">
                <div class="mobile-padding">
                    <img src="{{site.baseurl}}/images/footer/allpaintworks_logo_rgb.png" class="img-fluid">
                </div>
                 
            </div>
               <div class="col-12 col-md-6 col-lg-4">
                  
                       <h2 class="text-indent-contact blue">Contact</h2>
                        <p class="text-indent-contact">
                       Davy Stevens<br>
                        +32 496 32 23 44<br>
                        info@allpaintworks.be<br>
                        BTW: BE0695.766.350<br>
                         </p>    
                   
                      
            </div>
        </div>
        
         <div class="row">
    <div class="col-7 col-md-6 col-lg-4">
        
                  
           
                <img src="{{site.baseurl}}/images/footer/logo_puntkomma.png" class="img-fluid logo-puntkomma" alt="logo puntkomma graphic design">
           
            
                         <p class="copyright">
                                      © 2018 puntkomma
                            all rights reserved
                        </p>  
               
     
    </div>
   
  
    <div class="col-3 col-md-3 col-lg-4">
        
         
         
                 
      
    </div>
    <div class="col-2 col-md-4 col-lg-4">
      
    </div>
  </div>
       
        
    </div>
    
    
  
    
        
    
    <img src="{{site.baseurl}}/images/footer/footer_style_element.png" class="img-fluid footer-element" alt="style element"> 
    
        
        
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>